.card
{
    color:black;
    margin :auto;
    margin-top:5vh;
    position: relative;
    /* z-index: auto; */
}

.bg-light
{
    background-color: lightblue !important;
    color: black;
}

.newsSet
{
    margin: 10px;
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.paginationClass
{
    display: flex;
}

.singleContents
{
    align-self: center;
    text-align: center;
    align-content: center;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 10vh;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 415px;
    align-self: center;
    align-items: center;
    color: black;
    box-shadow: 0 6px 10px 0 black;
    /* border-radius: 20px 20px 20px 20px; */
}

.img-fluid
{
    align-self: center !important;
    border-radius: 10px 10px 10px 10px;
    box-shadow:0 3px 13px 0 grey;
    height: 200px !important;
    width: 410px !important;
    margin: auto;
    transition: 0.5s;
}

.img-fluid:hover
{
    align-self: center !important;
    border-radius: 10px 10px 10px 10px;
    box-shadow:0 5px 25px 0 black;
    /* width: 90% !important; */
}


.content
{
    height: 5vh;
    overflow-y: scroll;
}

.content2
{
    height: 8vh;
    overflow: hidden;
}
