/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.ngx-pagination .disabled 
{
  color: red !important;
}

.ngx-pagination
{
  margin-bottom: 5px !important;
  align-self: center !important;
}

.ngx-pagination a:hover
{
    background-color: black;
    color: #ffc107;
}

fa :hover
{
  color: black !important;
  background-color: black !important;
}